/* You can add global styles to this file, and also import other style files */
/** animaciones **/

.animated {
    animation-duration: 0.8s;
    animation-fill-mode: both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  /** mi loiding **/
svg path,
svg rect{
  fill: black;
}